<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>An error occured!</h1>
    <p>An error occured, Sorry for your inconveinence, We are trying to fix it, please cooperate</p>
<%- include('includes/end.ejs') %>