
<!DOCTYPE HTML>
<!--
	Hyperspace by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>CLOUD CALL</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome <% if (isAuthenticated){%>
								<%=user.username%>
								<% } %></a></li>
							<li><a href="#one">Who we are</a></li>
							<li><a href="#two">What we did</a></li>
							<li><a href="#three">Get in touch</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Cloud Call</h1>
							<p>Adding Care through Calls...<br />
                            In-person or afar, Cloud call brings everyone together...</p>
							<ul class="actions">
                                <% if (!isAuthenticated) { %>
                                    <li>
                                        <a class="button scrolly" href="/login">Login</a>
                                    </li>
                                    <li>
                                        <a class="button scrolly" href="/signup">Signup</a>
                                    </li>
                                <% } else { %>
                                            <li>
                                                <a class="button scrolly" style="width: 180px;" href="/new-meeting" role="button">New
                                                    Meeting</a>
                                            </li>
                                            <li>
                                           <form action="join-room" method="POST">
                                              
                                                <input name="room_id" type="text" class="form-control  " placeholder="Enter a code or Link">
                                                    </li>
                                                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                                    <li> <button class="btn btn-outline-primary" type="submit" id="button-addon2">Join</button></li>
                                               
                                        </form>
                                            
                                    <li>
                                        <form action="/logout" method="post">
                                            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                            <button type="submit" class="button scrolly">Logout</button>
                                        </form>
                                    </li>
                                <% } %>
							</ul>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a href="#" class="image"><img src="images/pic01.jpg" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Kabir Narang</h2>
									<p>A motivated individual with in-depth knowledge of languages and development tools, seeking a position in a growth-oriented company where I can use my skills to the advantage of the company while having the scope to develop my own skills.</p>
									<ul class="actions">
										<li><a href="https://www.linkedin.com/in/kabir-narang-109194175/" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="images/pic02.jpg" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Mayank Sharma</h2>
									<p>A security researcher seeking opportunities to work in a challenging environment to prove my skills and utilize my knowledge and intelligence to serve the community, with passion for Penetration Testing, Malware Analysis and Reverse Engineering.</p>
									<ul class="actions">
										<li><a href="https://403exploit.github.io/" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="images/pic03.jpg" alt="" data-position="25% 25%" /></a>
							<div class="content">
								<div class="inner">
									<h2>Aravind</h2>
									<p>Talented individual with information technology background, strong desire to grow technical skills, and ability to learn new technologies swiftly. Hopeful for to be a Cyber Security Specialist with great communication skills, and proficiency in all Microsoft Office tools, as well as high attention to detail.</p>
									<ul class="actions">
										<li><a href="https://www.linkedin.com/in/aravind-‎‎‎‎-381230176" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>What we did</h2>
							<p>In-person or afar, Cloud call brings everyone together...</p>
							<div class="features">
								<section>
									<span class="icon solid major fa-code"></span>
									<h3>Coding</h3>
									<p>Implemented several libraries of Java Script including nodeJS following secure coding practices.</p>
								</section>
								<section>
									<span class="icon solid major fa-lock"></span>
									<h3>Information Security</h3>
									<p>Followed security framework benchmarks for the most secure communication.</p>
								</section>
								<section>
									<span class="icon solid major fa-cog"></span>
									<h3>Nessus</h3>
									<p>Nessus is a proprietary vulnerability scanner developed by Tenable, Inc</p>
								</section>
								<section>
									<span class="icon solid major fa-desktop"></span>
									<h3>Digital Workforce</h3>
									<p>Cloud Call not only creates a more collaborative meeting culture in your organization, it’s a foundation for enabling today’s digital workforce.</p>
								</section>
								<section>
									<span class="icon solid major fa-link"></span>
									<h3>RTC</h3>
									<p>Video call without tramissions delays and minimal latency.</p>
								</section>
								<section>
									<span class="icon major fa-gem"></span>
									<h3>Reduced Redundancy</h3>
									<p>Companies are upgrading their legacy audio or web conferencing providers and finding more value in full video conferencing solutions that include audio conferencing, screen sharing, chat, meeting recording and event live streaming.</p>
								</section>
							</div>
							<ul class="actions">
								<li><a href="https://webrtc.org/" class="button">Learn more</a></li>
							</ul>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Get in touch</h2>
							<p> Hope you had a great experience, just in case of any inconvenience! We really appreciate you giving us a moment of your time to report problem at kabirnarang39@gmail.com. Thanks for being you.</p>
							<div class="split style1">
								<section>
									<form method="post" action="/message" action = "send" id="contact-form"> 
										<input type="hidden" name="_csrf" value="<%=csrfToken%>">
										<div class="fields">
											<div class="field half">
												<label for="name">Name</label>
												<input type="text" name="name" id="name" />
											</div>
											<div class="field half">
												<label for="email">Email</label>
												<input type="text" name="email" id="email" />
											</div>
											<div class="field">
												<label for="message">Message</label>
												<textarea name="message" id="message" rows="5"></textarea>
											</div>
										</div>
										
										<ul class="actions">
											<li><button class="button submit" type="submit">Send Message</button></li>
										</ul>
									</form>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3>Address</h3>
											<span>Hno-240 Sector-14/2<br />
											Karnal, Haryana 132001<br />
											INDIA</span>
										</li>
										<li>
											<h3>Email</h3>
											<a href="#">kabirnarang39@gmail.com</a>
											<a href="#">mayank.sharma1608@gmail.com</a>
											<a href="#">aravind1027@gmail.com</a>
										</li>
										<li>
											<h3>Phone</h3>
											<span>(+91) 8448337343</span>
										</li>
										<li>
											<h3>Social</h3>
											<ul class="icons">
												<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
												<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
												<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
												<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
												<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Cloud Call Company. All rights reserved.</li><li>Developed By <a href="http://html5up.net">Kabir,Mayank,Aravind</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
	</body>
</html>