<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://cdn.iconscout.com/icon/free/png-512/google-duo-722701.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Meeting, Video Call, Room Chat">
    <meta name="description" content="We re-engineered the service that we built for secure business meetings, Meet, to make it free and available for all">
    <meta name="author" content="Kabir Narang">
    <title>MEETING END</title> 
</head>
<body>
    
<div>
    <h1>Thanks for joining ;-)</h1>
</div>
</body>
</html>
