body{
    margin: 0;
    padding: 0;
}
.video-grid{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: 300px;
  position: relative;
  -webkit-transition: all 0.24s linear;
  transition: all 0.24s linear;
  grid-gap: 0.85rem;
}
.video-grid .video-wrapper {
  position: relative;
  -webkit-transition: all 0.24s linear;
  transition: all 0.24s linear;
  border-radius: 0.25rem;
  overflow: hidden;
}
.video-grid .video-wrapper .elements-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.24s linear;
  transition: all 0.24s linear;
}
.video-grid .video-wrapper .elements-wrapper .video-element {
  outline: none;
  border: none;
  z-index: 1;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px;
  background-color: darkslateblue;
  margin: 0.5rem;
  color: black;
  border-radius: 0.25rem;
  cursor: pointer;
  -webkit-transition: all 0.24s linear;
  transition: all 0.24s linear;
  vertical-align: middle;
  align-self: center;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0px 12px 22px rgba(0, 0, 0, 0.1);
  background-color: lightgray;
  animation: show 0.4s ease;
}
.video-grid .video-wrapper .elements-wrapper .video-element ion-icon {
  pointer-events: none;
  -webkit-transition: all 0.24s linear;
  transition: all 0.24s linear;
  font-size: 1.3rem;
}
.video-grid .video-wrapper .elements-wrapper .video-element:hover {
  border: none;
  outline: none;
}
.video-grid .video-wrapper .elements-wrapper .video-off-indicator {
  --indicatorSize: 80px;
  width: var(--indicatorSize);
  height: var(--indicatorSize);
  background-color: darkslateblue;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-transition: all 0.24s all;
  transition: all 0.24s all;
  opacity: 0;
  pointer-events: none;
}


.main{
  display: flex !important;
  height: 100vh;
}
.main_left{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main_videos{
  position: relative;
  overflow: scroll;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
   height: fit-content;
}
.main_controls{
    display: flex;
    background-color: #1c1e20;;
    color:#d2d2d2;
    padding: 18px;
    justify-content: space-between !important;
    position: fixed;
    bottom: 0 !important;
    width: 100%;

}
.main_controls_block{
    display: flex;
}
.main_controls_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
   
}
.leave_meating{
    color:#eb534b;

}
.main_controls_button:hover{
    background-color: #343434;
    border-radius: 5px;
}
.main_right{
    display: none;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    margin-left: 200px;
    margin-top: 10px;
    z-index: 30000;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: white;
    padding: 10px 24px 24px 24px;
    width: 500px;
    height: 700px;
    border-radius: 1.00rem;
    -webkit-transition: all 2s linear;
    transition: all 2s linear;
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
            box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
}
.main_chat_window{
    flex-grow: 1;
    overflow-y: scroll;
    box-sizing: content-box;
    width: 600px !important;
    height: 600px;
    
}
.main_message_container{
    padding: 22px 12px;
    display: flex;
}
.main_message_container input{
    flex-grow: 1;
    background-color: transparent;
    border-left: #00796b 1px solid;
    border-top: #00796b 1px solid;
    border-bottom: #00796b 1px solid;
    border-right: none;
    border-radius: 5px;
    color: black;
    padding: 16px;
    outline: none;
}
.main_message_container input:focus{
  outline: none;
}
.messages{
    color:black;
    list-style: none;
    display: grid;
    
}
.messages li{
    width:370px;
    word-wrap:break-word;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}
   
.video-grid video:after {
    color: #aaa;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 20px;
    right: 23px;
    font-weight: 100;
    content: "4:3";
    display: block;
}
/* Gray Diagonal */

.video-grid video:before {
    position: absolute;
    height: 1px;
    background: #ddd;
    width: 100%;
    transform: rotate(-37deg);
    top: 50%;
    font-weight: 100;
    content: "4:3";
    display: block;
    ;
}
@keyframes show {
    0% {
        opacity: 0;
        transform: scale(0.4) translateY(20px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.message {
	font-size: 13px;
	display: block;
}
.messageHeader {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	font-size: 11px;
	color: #8086ac;
}

.messageReceiver {
	color: #309af6;
}
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin: auto;
    width: 100%;
    margin-top: 20px;
  }
  .flash{
      margin: auto;
  }
  .alert.success {background-color: #00796b;}
  .closebtn{
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }  
  #video {
    border: 1px solid #999;
    width: 98%;
    max-width: 860px;
  }
  
  .error {
    color: red;
  }
  
  .warn {
    color: orange;
  }
  
  .info {
    color: darkgreen;
  }
  .dialogue-container {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    position: absolute;
    margin: 2rem;
    top: 0;
    z-index: 30000;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: white;
    padding: 10px 24px 24px 24px;
    width: 360px;
    border-radius: 0.25rem;
    -webkit-transition: all 0.24s linear;
    transition: all 0.24s linear;
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
            box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  }
  
  .dialogue-container p {
    margin: 0px;
    margin-top: 8px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #3c4043;
  }
  
  .dialogue-container .dialogue-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .dialogue-container .dialogue-head p {
    margin: 14px 0px;
    font-size: 18px;
    color: #202124;
  }
  
  .dialogue-container .dialogue-head ion-icon {
    font-size: 2rem;
    color: #202124;
  }
  
  .dialogue-container .share-container {
    margin-top: 8px;
    background-color: #f1f3f4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 51px;
    padding: 0px 8px;
    border-radius: 0.25rem;
  }
  
  .dialogue-container .share-container p {
    margin: 0;
    color: #202124;
  }
  
  .dialogue-container .dialogue-button ,.cancel-msg{
    font-size: 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
    -webkit-transition: all 0.24s linear;
    transition: all 0.24s linear;
}
  
  .dialogue-container .dialogue-button ion-icon,.cancel-msg svg {
    pointer-events: none;
    color: #202124;
  }
  
  .dialogue-container .dialogue-button:hover,.cancel-msg:hover {
    background-color: #d6d6d6;
    border: none;
    outline: none;
  }
  
  .dialogue-container p.caption {
    font-size: 12px;
    color: #5f6368;
  }
  
  .dialogue-active {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
  .tooltip {
    position: relative;
    opacity: 1 !important;

  }
  
  .tooltip::before {
    font-size: 0.65rem !important;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    content: attr(tool_tip);
    display: inline;
    white-space: nowrap;
    position: absolute;
    top: -45px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: blueviolet;
    color: white;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  .tooltip:hover::before {
    opacity: 1;
    visibility: visible;
  }
  
  .tooltip-danger::before {
    background-color: brown;
  }
  
  @media (hover: hover) {
    .tooltip:hover .tooltip::before {
      opacity: 1;
      visibility: visible;
    }
  }
  
  #copy-button {
    cursor: pointer;
    position: relative;
  }
  
  #copy-button i {
    pointer-events: none;
  }
  
  #copy-button span {
    pointer-events: none;
  }
  
  #copy-button:before {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    position: absolute;
    content: var(--tooltip);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    background-color: #262626;
    top: -40px;
    color: white;
  }
  
  #copy-button:hover:before {
    opacity: 1;
    visibility: visible;
  }
  
.tool-bar-wrapper {
  z-index: 300000;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-left-radius: 0.25rem;
  -webkit-transition: all 0.24s linear;
  transition: all 0.24s linear;
}

.tool-bar-wrapper .tool-bar-button + .tool-bar-button {
  border-left: 1px solid lightgray;
}

.tool-bar-wrapper .dot {
  position: relative;
}

.tool-bar-wrapper .dot::before {
  --dot-size: 8px;
  content: "";
  width: var(--dot-size);
  height: var(--dot-size);
  background-color: var(--clr3);
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  z-index: 1;
  right: 13px;
  top: 2px;
}

.tool-bar-wrapper .tool-bar-button {
  height: 35px;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.24s linear;
  transition: all 0.24s linear;
  background-color: transparent;
  -ms-user-select: none !important;
      user-select: none !important;
  padding: 0px 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  color: #00796b;
}

.tool-bar-wrapper .tool-bar-button:hover {
  outline: none;
}

.tool-bar-wrapper .tool-bar-button:active {
  background-color: white;
}

.tool-bar-wrapper .tool-bar-button ion-icon {
  font-size: 1.5rem;
  color: #00796b;
}

.tool-bar-wrapper #time {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
span.time {
  color: #5f6368;
}
.messageSender{
  font-size: 15px;
  font-weight: bolder;
  color: #1c1e20;
  display: inline-flex;
  margin-left: 5px;
}
.main_header h6{
  display: flex;
  float: inline-end;
  justify-content: space-between;
}








.video-grid .video-wrapper .elements-wrapper .effect-container {
  margin: 0.5rem;
  width: 32.8px;
  height: 32.8px;
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-grid .video-wrapper .elements-wrapper .effect-container .o1,
.video-grid .video-wrapper .elements-wrapper .effect-container .o2 {
  position: relative;
  height: 19%;
  width: 6px;
  background: darkslateblue;
  margin: 2px;
  border-radius: 200px;
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.video-grid .video-wrapper .elements-wrapper .name {
  bottom: 0;
  left: 45px;
  padding: 7px 16px;
}

.video-grid .video-wrapper .elements-wrapper .options-button {
  right: 0;
}

.video-grid .video-wrapper .elements-wrapper .pin-button {
  left: 0;
  top: 0;
}

.video-grid .video-wrapper .elements-wrapper .mic-button {
  bottom: 0;
}

.video-grid .video-wrapper .elements-wrapper .off {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.video-grid .video-wrapper .elements-wrapper .mic-off {
  color: rgba(var(--color6), 1);
}

.video-grid .video-wrapper .elements-wrapper .stop-presenting-button {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video-grid .video-wrapper .elements-wrapper .rotate-45 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.video-grid .video-wrapper .video-disable {
  background-color: darkslateblue;
}

.video-grid .video-wrapper .video-disable .video-off-indicator {
  opacity: 1;
}
.video-grid .video-wrapper video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.24s linear;
  transition: all 0.24s linear;
}

.video-grid .video-wrapper video.mirror {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.video-grid .zoom-video {
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  height: calc(100vh - var(--footer-height));
  background-color: darkslateblue;
  -webkit-transition: all 0.24s linear;
  transition: all 0.24s linear;
}

.video-grid .zoom-video video {
  -o-object-fit: contain;
     object-fit: contain;
}