body{
    margin: 0;
    padding: 0;
    
}
.video-grid,.screen-share{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    left: 0px;
    bottom: 0px;
    top: 0px;
    right: 0px;
}
.video-grid video,.screen-share video{
    margin: 10px;
    position: relative;
    vertical-align: middle;
    align-self: center;
    border-radius: 10px;
    overflow: scroll;
    display: inline-block;
    box-shadow: 0px 12px 22px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    animation: show 0.4s ease;

}
.main{
    height:100vh;
    display: flex;
}
.main_left{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.main_right{
    flex: 0.2;
}
.main_videos{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:40px;
   
}
.main_controls{
    display: flex;
    background-color: #1c1e20;;
    color:#d2d2d2;
    padding: 18px;
    justify-content: space-between !important;
    position: fixed;
    bottom: 0 !important;
    width: 100%;

}
.main_controls_block{
    display: flex;
}
.main_controls_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
   
}
.leave_meating{
    color:#eb534b;

}
.main_controls_button:hover{
    background-color: #343434;
    border-radius: 5px;
}
.main_right{
    display: none;
    flex-direction: column;
    background-color: #242324;
    border-left: 1px solid #3d3d42;
    overflow: hidden;
}
.main_header{
    color:#f5f5f5;
    text-align: center;
}
.main_chat_window{
    flex-grow: 1;
    overflow-y: scroll;
    box-sizing: content-box;
}
.main_message_container{
    padding: 22px 12px;
    display: flex;
}
.main_message_container input{
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #f5f5f5;
}
.messages{
    color:white;
    list-style: none;
    display: grid;
}
/*.messages li{
    width:200px;
    word-wrap:break-word;
    background-color: brown;
    padding:10px;
    border-radius: 10px;
}
    */
.video-grid video:after {
    color: #aaa;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 20px;
    right: 23px;
    font-weight: 100;
    content: "4:3";
    display: block;
}
/* Gray Diagonal */

.video-grid video:before {
    position: absolute;
    height: 1px;
    background: #ddd;
    width: 100%;
    transform: rotate(-37deg);
    top: 50%;
    font-weight: 100;
    content: "4:3";
    display: block;
    ;
}
@keyframes show {
    0% {
        opacity: 0;
        transform: scale(0.4) translateY(20px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.message {
	font-size: 13px;
	display: block;
}
.messageHeader {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	font-size: 11px;
	color: #8086ac;
}

.messageReceiver {
	color: #309af6;
}
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin: auto;
    width: 100%;
    margin-top: 20px;
  }
  .flash{
      margin: auto;
  }
  .alert.success {background-color: #00796b;}
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }  
  #video {
    border: 1px solid #999;
    width: 98%;
    max-width: 860px;
  }
  
  .error {
    color: red;
  }
  
  .warn {
    color: orange;
  }
  
  .info {
    color: darkgreen;
  }
  .video-element {
    outline: none;
    border: none;
    z-index: 1;
    position: absolute;
    display: flex;
    padding: 6px;
    background-color: rgba(51,51,50, 0.8);
    margin: 0.5rem;
    color: white;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.24s linear;
    position: absolute;

}
.video-off-indicator {
    width: 80px;
    height: 80px;
    background-color: #00796b;;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.24s all;
    opacity: 0;
    pointer-events: none;
  }
  ion-icon {
    pointer-events: none;
    transition: all 0.24s linear;
    font-size: 2.0rem;
  }
  .name {
    font-size: 0.80rem;
  }
  .effect-container {
    margin: 0.5rem;
    width: 32.8px;
    height: 32.8px;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .o1,
  .o2 {
    position: relative;
    height: 19%;
    width: 6px;
    background: #00796b;;
    margin: 2px;
    border-radius: 200px;
    transition: all linear 0.1s;
  }
  .video-disable {
    background-color: #1c1e20;;
    border-radius: 10px;
  }

  .card-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.816);
    user-select: none;
  }
  
  .card-loader {
    width: 100%;
    width: 500px;
    height: 250px;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .card-loader p {
    padding-top: 2rem;
    color: white;
  }
  .spinner {
    --animation-duration: 1150ms;
   
  }
  .spinner-item {
    width: 80px;
    height: 40px;
    display: inline-block;
    margin: 0 3px;
    border-radius: 50%;
    border: 4px solid rgba(46,44,180,1);
    animation: spinner4 1150ms ease-in-out infinite;
    @keyframes spinner4 {
      0%,
      100% {
        transform: translateY(75%);
      }
      50% {
        transform: translateY(-75%);
      }
    }
  }
  .spinner-item:nth-child(1) {
       animation: delay 191ms #2e2cb4;
  }
  .spinner-item:nth-child(2) {
    animation: delay 383px #4745ce;
  }
  .spinner-item:nth-child(3) {
    animation: delay 575ms #6765cf;
  }
  .spinner-item:nth-child(4) {
    animation: delay 766px #8786df;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 50;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #8786df;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6765cf;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #6765cf;
  }
  
.card-loader {
    width: 100%;
    width: 500px;
    height: 250px;
    border-radius: 0.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.card-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.816);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    background-color: #1b2127;
    background-color: #1b2127;
    font-family: "Comfortaa", cursive;
}
:root {
    --color1: 27, 33, 39;
    --color2: 22, 28, 33;
    --color3: 71, 69, 206;
    --color4: 37, 42, 48;
    --color5: 4, 231, 98;
    --color6: 255, 47, 25;
    --footer-height: 80px;
    --size: 75px;
    --clr1: #2e2cb4;
    --clr2: #4745ce;
    --clr3: #6765cf;
    --clr4: #8786df;
}
.hydrated {
    visibility: inherit;
}
::after, ::before {
    font-family: "Comfortaa", cursive;
}
::after, ::before {
    font-family: "Comfortaa", cursive;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 50;
}
::-webkit-scrollbar-thumb {
    background: rgba(var(--color3), 0.6);
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: rgba(var(--color4), 1);
}